<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net45" />
  <package id="HttpToSocks5Proxy" version="1.4.0" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="SharpZipLib" version="1.3.2" targetFramework="net45" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net452" />
  <package id="Telegram.Bot" version="16.0.0" targetFramework="net452" />
  <package id="Yandex.Checkout.V3" version="1.7.0" targetFramework="net45" />
</packages>